<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SmartQ</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span>example@domain.com</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
                       
          </ul>
        </li>
      </ul>
  </div>
</nav>